In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path

In [3]:
# Read the CSV file from the folder into a Pandas DataFrame
file_path = Path("Script_Finding_Nemo.csv")
df_Script_Finding_Nemo = pd.read_csv(file_path)

# Review the DataFrame
df_Script_Finding_Nemo.head()

      name                                               line
0  Scene 1  Marlin and Coral's New Life/Barracuda Attack/Nemo
1   Marlin                                               Wow!
2    Coral                                               Mmm.
3   Marlin                                               Wow!
4    Coral                                            Mm-hmm.

In [5]:
# Now I need to find a way to to get all counts of the word Nemo said in the "line" column
# I could then make a new Column named "Nemo" and will give me a count everytime Nemo was said in that line
df_Script_Finding_Nemo['Nemo'] = df_Script_Finding_Nemo['line'].str.contains('Nemo').astype(int)

df_Script_Finding_Nemo.head()

      name                                               line  Nemo
0  Scene 1  Marlin and Coral's New Life/Barracuda Attack/Nemo     1
1   Marlin                                               Wow!     0
2    Coral                                               Mmm.     0
3   Marlin                                               Wow!     0
4    Coral                                            Mm-hmm.     0

In [6]:
#Now I just wannt to Focus on the Nemo column and just get the total sum from that column
Total = df_Script_Finding_Nemo['Nemo'].sum()
print(Total)

72